<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guoguo" >

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--小米推送-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission
        android:name="com.guoguo.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.guoguo.permission.MIPUSH_RECEIVE" />
    <!--end of 小米推送-->

    <!--辅助功能-->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <!--end of 辅助功能-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name=".app.GuoGuoApplication"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <!--
        这一段可以给应用程序创建一个新入口，但是新入口不在桌面上
        <activity-alias
            android:name=".MainActivityShortCut"
            android:targetActivity=".MainActivity"
            android:label="ggshortcut2"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        -->

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.view.simpleView.SimpleListActivity"/>

        <activity
            android:name=".ui.view.customListView.CustomListActivity"/>

        <activity
            android:name=".ui.view.fragmentViews.BaseFragmentActivity"/>

        <activity
            android:name=".ui.anmi.SimpleAnimation"/>

        <activity
            android:name=".ui.view.customProgressView.ProgressActivity"/>

        <!--对话框风格的activity-->
        <!--<activity android:name=".ui.SecondActivity" android:theme="@android:style/Theme.Dialog" >-->
        <!--</activity>-->

        <!--开机自启-->
        <receiver android:name=".logic.restartBroadcastReceiver.restartBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--小米推送 jar包中使用-->
        <service
            android:enabled="true"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <!--end of 小米推送 jar包中使用-->

        <!--小米推送 客户端使用-->
        <receiver
            android:exported="true"
            android:name="com.guoguo.pushClient.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--end of 小米推送 客户端使用-->

        <!--android:exported为false表示只可被当前Application或者拥有同样user ID的Application的组件调用-->
        <service android:name="com.guoguo.logic.service.AppService"
            android:exported="true">
            <!--android:process=":appservice"-->
            <intent-filter>
                <action android:name="com.guoguo.logic_action_AppService"/>
            </intent-filter>

        </service>

        <!--&lt;!&ndash;辅助功能&ndash;&gt;-->
        <!--<service android:name="com.guoguo.logic.accessibility.MyAccessibilityService"-->
            <!--android:label="@string/accessibility_service_label">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.accessibilityservice.AccessibilityService" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!--&lt;!&ndash;辅助功能&ndash;&gt;-->

    </application>

</manifest>
